
/* ===================HERO==================== */
.hero {
  background-color: #f9f3ee;
  padding-bottom: 120px;
}
.hero > .container > .title {
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: calc(58 / 48);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #334459;
  margin-bottom: 40px;
}

.slidecontainer {
  width: 100%;
  margin-bottom: 40px;
}

.slider {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}
.number-label {
  /* width: calc(100% - 2 * 24px); */
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}
.number-label-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #313131;
}
.hero-wrap {
  /* width: 1094px; */
  display: flex;
  gap: 102px;
  align-items: center;
}
.hero-img {
  background-color: transparent;
  border-radius: 40px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.hero-wrap .title {
  box-sizing: border-box;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(36 / 30);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #313131;
  /* width: 380px; */
}
.hero .btn {
  box-sizing: border-box;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
  justify-content: center;
  align-items: center;
  padding: 20.5px 80px;
  /* gap: 10px; */
  width: 291px;
  /* height: 50px; */
  background: #fff065;
  border-radius: 40px;
  border-color: transparent;
}
.hero-wrap-wrap {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
/* ==============GALLERY=============== */
.gallery {
  background-color: #f9f3ee;
  padding-bottom: 100px;
}
.gallery-list {
  display: flex;
  gap: 24px;
}
.gallery-item {
  width: 383px;
  height: 440px;
  background-color: #fdfdfd;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.gallery-img {
  border-radius: 40px;
}
.card-text {
  width: 312px;
}
.gallery-title {
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29 / 24);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #313131;
  margin-bottom: 24px;
}
.gallery-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #313131;
}
/* ============FOOTER================= */
.footer {
  background-color: #d4c5be;
  padding-top: 60px;
  padding-bottom: 50px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.footer .logo {
  margin-left: 0;
}
.footer-wrap {
  display: flex;
  gap: 65px;
}
.footer-nav {
  display: flex;
  align-items: baseline;
  margin-top: 28px;
  gap: 204px;
  /* justify-content: space-between; */
}
.footer-nav-list {
  /* margin-left: 65px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-nav-item .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
}
.contacts {
  display: flex;
  /* margin-left: auto; */
  gap: 49px;
}
.contacts .title {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.email .title {
  text-align: left;
  /* margin-bottom: 25px; */
}
.soc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.soc .title {
}
.icon {
  fill: #334459;
}

.press {
  display: flex;
  gap: 40px;
}
.press .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #313131;
}
.link {
}
