/* ============FOOTER================= */
.footer {
  background-color: #d4c5be;
  padding-top: 60px;
  padding-bottom: 50px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.footer .logo {
  margin-left: 0;
}
.footer-wrap {
  display: flex;
  gap: 65px;
}
.footer-nav {
  display: flex;
  align-items: baseline;
  margin-top: 28px;
  gap: 204px;
  /* justify-content: space-between; */
}
.footer-nav-list {
  /* margin-left: 65px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-nav-item .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
}
.contacts {
  display: flex;
  /* margin-left: auto; */
  gap: 49px;
}
.contacts .title {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.email .title {
  text-align: left;
  /* margin-bottom: 25px; */
}
.soc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.soc .title {
}
.icon {
  fill: #334459;
}

.press {
  display: flex;
  gap: 40px;
}
.press .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #313131;
}
.link {
}
