.header {
  background-color: #f9f3ee;
}
.header .container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.part-left {
  display: flex;
  align-items: center;
}
.btn-menu {
  background-color: transparent;
  border: none;
}
.icon {
  fill: #313131;
}
.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}
.logo-text {
  font-family: "SofiaSans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #334459;
  text-transform: uppercase;
  width: 59px;
  height: 44px;
}
.part-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
  align-tracks: center;
}

.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
  display: flex;
  align-items: center;
  gap: 3px;
}

.icon-account {
  stroke: #313131;
}
.header .btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313131;
  justify-content: center;
  align-items: center;
  padding: 18px 50px;
  gap: 10px;
  /* width: 207px; */
  /* height: 50px; */
  background: #fff065;
  border-radius: 40px;
  border-color: transparent;
}

/* ====================.mob-dropbtn=================== */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  position: relative;
  /* position: absolute;
  top: 0;
  right: 40px; */
  padding: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* right: 35px;
  top: 33px; */
  background-color: #f9f9f9;
  width: 60px;
}

.dropbtn {
  background: url("https://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/16/Ukraine-Flag-icon.png")
    no-repeat left center;
  padding-left: 25px;
  width: 50px;
}

.dropbtn::after {
  background: rgba(0, 0, 0, 0)
    url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png")
    no-repeat scroll right center;
  content: "";
  height: 16px;
  position: absolute;
  right: -12px;
  top: 7px;
  width: 16px;
}

.dropdown-content > a:first-child {
  background: url("https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png")
    no-repeat;
  background-position: 4px center;
}
.dropdown-content > a:last-child {
  background: url("http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png")
    no-repeat;
  background-position: 4px center;
}
.dropdown-content > a {
  color: black;
  padding: 4px 4px 4px 30px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover > .dropdown-content {
  display: block;
}
/* =========================================== */